.button {
  background-color: $iron;
  color: $black;
  display: flex;
  font-size: rem(12);
  font-weight: fw("medium");
  justify-content: space-between;
  padding: 20px 15px;
  position: relative;
  text-decoration: none;
  transition: background-color .25s ease-in-out;
  width: 100%;

  &:hover {
    background-color: darken($iron, 15%);

    svg {
      transform: translateX(5px);
    }
  }

  @include media(">=tablet") {
    min-width: 140px;
    width: auto;
  }

  svg {
    transition: transform .25s ease-in-out;
  }

  &--white {
    background-color: $white;
    color: $heliotrope;

    &:hover {
      background-color: darken($white, 15%);
    }
  }

  &--green {
    background-color: $turquoise;
    color: $white;

    &:hover {
      background-color: darken($turquoise, 15%);
    }
  }
}