.step {
  display: flex;
  padding: 15px;

  &__number {
    align-items: center;
    border: 2px solid $heliotrope;
    border-image-source: linear-gradient($portage, $heliotrope);
    border-image-slice: 2;
    color: $portage;
    display: flex;
    font-size: rem(12);
    font-weight: fw("medium");
    height: 20px;
    justify-content: center;
    margin-right: 15px;
    width: 20px;
  }

  &__title {
    color: $river-bed;
    font-weight: fw("medium");
  }
}