// Mono
$black:       #000000;
$white:       #FFFFFF;

// Cinza
$aqua-haze:   #F2F6F8;
$iron:        #D2D5D7;
$oslo-gray:   #7F8B93;

// Roxo
$portage:     #8D80F2;
$heliotrope:  #AA65F5;

// Azul
$river-bed:   #424858;

// Verde
$turquoise:   #32CCCC;